@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-width {
  @apply w-full md:w-[84%] md:mt-0 mt-16 md:pb-0 pb-5;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
}
